*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3434fd;
    color:#fff;
font-family: 'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-box{
    width:600px;
    margin: 200px  0;
    background: #fff;
    border-radius: 5px;
}
input{
    flex:1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
}
::placeholder{
    color: #555;
}

.result-box ul{
border-top:1px solid #999;
padding: 15px 10px;
cursor: pointer;
color: black;
list-style: none;
}
